/*
#0A100D BLACK CLARO
#B9BAA3 GRIS OSCURO
#D6D5C9 GRIS CLARO
*/
/*tipografias*/
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&display=swap");
.container-Rq .grilla, .contenedorPortadas .contTxt .titulo, .contenedorPortadas {
  align-items: center;
  justify-content: center;
}

/*transformaciones*/
.container-Rq .grilla .card .imgGrilla:hover, .contenedorPortadas .contImg a img:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

/*mixin*/
/* 
font-family: 'Gentium Book Plus', serif;
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans', sans-serif; */
/*
#0A100D BLACK
#B9BAA3 GRIS OSCURO
#D6D5C9 GRIS CLARO
*/
* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid green; */
}

header {
  background-image: linear-gradient(#3f3e3e, #3a3939);
}

main {
  background-image: linear-gradient(129deg, #f3f1f1, rgb(207, 207, 207));
}

footer {
  background-image: linear-gradient(#3f3e3e, #3a3939);
}

.header a .logo {
  height: 5rem;
}
.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28240, 240, 240, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header .nav-link {
  color: #D6D5C9;
}
.header input:hover {
  background-color: #B9BAA3;
}

/*carrusel*/
main .carousel-indicators [data-bs-target] {
  background-color: #0A100D;
}
main .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E7D40A' %3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
main .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E7D40A' %3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
main .carousel-item {
  overflow: hidden;
}

/*Anuncios*/
.h1h2 {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  outline: 2px solid black;
  margin: 0;
  background-color: whitesmoke;
}

.anuncios {
  font-size: 15px;
  margin-top: 2px;
  display: flex;
  flex-direction: column-reverse;
}
.anuncios .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: whitesmoke;
}
.anuncios .texto h3 {
  margin-top: 10px;
}

/*Portadas*/
.contenedorPortadas {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.contenedorPortadas .contImg {
  display: flex;
  justify-content: space-evenly;
}
.contenedorPortadas .contImg a img {
  width: 80vw;
  border-radius: 15px;
}
.contenedorPortadas .contTxt {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedorPortadas .contTxt a {
  text-decoration: none;
  color: #D6D5C9;
}
.contenedorPortadas .contTxt .titulo {
  background-color: #0A100D;
  width: 20rem;
  height: 55px;
  border-radius: 15px;
  display: flex;
  margin: 5px;
  font-family: titulos;
}

/*grilla*/
.container-Rq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-Rq .grilla {
  display: flex;
  width: 100%;
}
.container-Rq .grilla .fondoGris {
  background-image: linear-gradient(to bottom, #313131 0%, #383838 100%);
}
.container-Rq .grilla .card {
  margin: 7px;
  background-color: #3e3f3e;
  width: 20rem;
  position: static;
}
.container-Rq .grilla .card .imgGrilla {
  margin-top: 5px;
  border-radius: 8px;
}
.container-Rq .grilla .card p {
  color: #D6D5C9;
  margin-top: 5px;
}
.container-Rq .grilla .card .card-body {
  background-color: whitesmoke;
  color: #0A100D;
  border-radius: 15px;
  height: 55px;
  width: 60%;
}

/*Enlace Absoluto*/
.enlaceAbs {
  text-align: center;
  margin: 0px;
  padding: 0;
  width: 100%;
}
.enlaceAbs .ButtEnlaceAbs {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-bottom: 5px;
  background-color: #D6D5C9;
}
.enlaceAbs a {
  text-decoration: none;
  color: #0a100d;
}

/*Whatsapp*/
.wapp {
  display: inline-block;
  position: fixed;
  top: 400px;
  left: 90%;
}
.wapp img {
  width: 30px;
}

/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .txtAnunRedes {
  color: #D6D5C9;
  padding: 10px;
  font-size: 20px;
}
.footer .redes {
  list-style: none;
  padding: 0;
}
.footer .redes li {
  display: inline-block;
  padding: 2px;
}
.footer .redes li img {
  width: 2.2rem;
}
.footer .map iframe {
  width: 10rem;
  height: 10rem;
  display: flex;
  position: relative;
  margin-top: 10px;
}
.footer .pie {
  color: #D6D5C9;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

/*formulario*/
.breadcrumb li a {
  text-decoration: none;
  color: #d8a60f;
  margin-left: 5px;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainCont__formCont {
  padding-top: 7px;
  margin-bottom: 7px;
}
.mainCont__fondoGris {
  background-image: linear-gradient(to bottom, #313131 0%, #222222 100%);
}
.mainCont__label {
  color: #D6D5C9;
}
.mainCont__divComent p {
  color: #D6D5C9;
}
.mainCont__contacto {
  display: none;
}
.mainCont__button {
  padding-bottom: 5px;
}

.breadcrumbTalles {
  margin-top: 5px;
}

.divDescTalles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.divDescTalles p {
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.mainTalles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainTalles__talles {
  padding-bottom: 5%;
}
.mainTalles__contTalles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin: 1rem;
}
.mainTalles thead {
  background-color: #facc43;
  border-bottom: solid 3px #0A100D;
}
.mainTalles th,
.mainTalles td {
  padding: 6.5px;
  text-align: center;
}

@media (min-width: 680px) {
  .header a .logo {
    height: 7rem;
  }
  .h1h2 {
    font-size: 20px;
    padding: 20px;
  }
  /*anuncios*/
  .anuncios .texto h3 {
    text-align: center;
  }
  /*Portadas*/
  .contenedorPortadas .contTxt .titulo {
    height: 60px;
    font-size: 25px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /*talles*/
  .divDescTalles {
    align-items: center;
  }
  .divDescTalles p {
    font-size: 15px;
  }
  .divDescTalles ol {
    display: flex;
  }
  .mainTalles {
    flex-direction: column-reverse;
  }
  .mainTalles__contTalles {
    font-size: 20px;
    padding-top: 10px;
  }
  .mainTalles th,
.mainTalles td {
    padding: 10px;
  }
}
/*PANTALLAS*/
@media (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 3;
  }
  .header .nav-link {
    font-size: 20px;
    margin-left: 60px;
  }
  .header .nav-link .logo {
    height: 10rem;
  }
  .header ul li:hover {
    color: #D6D5C9;
    font-weight: bold;
  }
  .h1h2 {
    font-size: 25px;
    padding: 30px;
  }
  .anuncios {
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
  }
  /*Portadas*/
  .contenedorPortadas {
    flex-direction: row;
  }
  .contenedorPortadas .contImg a img {
    width: 45rem;
    border-radius: 15px;
    margin: 15px;
  }
  .contenedorPortadas .contTxt a:hover {
    color: #D6D5C9;
    font-weight: bold;
  }
  /*grilla*/
  .card {
    width: 30rem;
  }
  .card .card-body h5:hover {
    color: #D6D5C9;
    font-weight: bold;
  }
  .mainCont {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .mainCont__contacto {
    display: flex;
    padding-right: 28px;
  }
  .mainCont__fondoGris {
    background-image: linear-gradient(to bottom, #313131 0%, #222222 100%);
  }
  .mainCont__ul {
    display: flex;
    flex-direction: column;
  }
  .mainCont__ul h3 {
    color: #D6D5C9;
    text-align: center;
  }
  .mainCont__ul li {
    list-style-type: none;
    background-color: whitesmoke;
  }
  .mainCont__ul img {
    width: 2rem;
  }
  /*talles*/
  .divDescTalles {
    padding-bottom: 10px;
  }
  .divDescTalles p {
    font-size: 18px;
  }
  /*breadcrumb*/
  .breadcrumb {
    top: 32%;
    left: 0;
  }
  .mainTalles {
    flex-direction: column-reverse;
  }
  .mainTalles__contTalles {
    font-size: 22px;
  }
  .mainTalles__contTalles h2 {
    margin-top: 8px;
  }
  .mainTalles th,
.mainTalles td {
    padding: 25px;
  }
  .wapp {
    left: 95%;
  }
}
@media (min-width: 1293px) {
  .header .nav-link {
    font-size: 25px;
    margin-left: 80px;
  }
  .contenedorPortadas .contImg a img {
    width: 35rem;
  }
  /*talles*/
  .mainTalles {
    flex-direction: column-reverse;
  }
  .mainTalles__contTalles {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .mainTalles__contTalles h2 {
    margin-top: 10px;
  }
  .mainTalles th,
.mainTalles td {
    padding: 30px;
  }
  .breadcrumbTalles {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .container-Rq .grilla .card {
    margin: 15px;
    background-color: #3e3f3e;
    width: 22rem;
    position: static;
  }
  .container-Rq .grilla .card .imgGrilla {
    margin-top: 15px;
  }
  .container-Rq .grilla .card p {
    font-size: 20px;
  }
  .container-Rq .grilla .card h5 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
