@media (min-width: 680px) {
  .header {
    a {
      .logo {
        height: 7rem;
      }
    }
  }

  .h1h2 {
    font-size: 20px;
    padding: 20px;
  }
  /*Portadas*/
  .contenedorPortadas .contTxt .titulo {
    height: 60px;
    font-size: 25px;
  }
  .footer {
    @include flexible (flex, row);
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /*talles*/
  .mainTalles{
    &contTalles{
      font-size: 20px;
    }
  }
}

/*PANTALLAS*/
@media (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    a {
      .logo {
        height: 10rem;
      }
    }
    ul {
      li:hover {
        color: $color-grisC;
        font-weight: bold;
      }
    }
  }
  .h1h2 {
    font-size: 25px;
    padding: 30px;
  }

  .anuncios {
    font-size: 20px;
    padding: 30px;
    @include flexible (flex, row);
    justify-content: space-between;
    margin-top: 2px;
  }

  /*Portadas*/

  .contenedorPortadas {
    flex-direction: row;
    .contImg {
      a {
        img {
          width: 45rem;
          border-radius: 15px;
          margin: 15px;
        }
      }
    }
    .contTxt {
      a:hover {
        color: $color-grisC;
        font-weight: bold;
      }
    }
  }

  /*grilla*/

  .card {
    width: 25rem;
    margin: 15px;
    .card-body {
      h5:hover {
        color: $color-grisC;
        font-weight: bold;
      }
    }
  }

/*PANTALLAS*/
  .mainCont{
    @include flexible (flex, row-reverse);
    align-items: center;
    justify-content: space-evenly;
    &__contacto{
      display: flex;
      padding-right: 28px;
    }
    &__fondoGris{
      background-image: linear-gradient(to bottom, #313131 0%, #222222 100%);
    }
    &__ul{
      @include flexible (flex, column);
      h3{
        color: $color-grisC;
        text-align: center; 
      }
      li{
        list-style-type: none;
        background-color: whitesmoke
      }
      img{
        width: 2rem;
      }

    }
  }
  /*talles*/
.mainTalles{
  &__contTalles{
    font-size: 20px;
  }
}

.wapp{
  left: 95%;
}

}

@media (min-width: 1293px) {
  .contenedorPortadas {
    .contImg {
      a {
        img {
          width: 35rem;
        }
      }
    }
  }
  /*talles*/
  .mainTalles{
    &__contTalles{
      font-size: 25px;
    }
  }
}
