@media (min-width: 680px) {
  .header {
    a {
      .logo {
        height: 7rem;
      }
    }
  }

  .h1h2 {
    font-size: 20px;
    padding: 20px;
  }

  /*anuncios*/

  .anuncios {
    .texto {
      h3{
        text-align: center;
      }
    }
  }

  /*Portadas*/
  .contenedorPortadas .contTxt .titulo {
    height: 60px;
    font-size: 25px;
  }
  .footer {
    @include flexible(flex, row);
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /*talles*/
  .divDescTalles {
    align-items: center;
    p {
      font-size: 15px;
    }
    ol {
      display: flex;
    }
  }

  .mainTalles {
    flex-direction: column-reverse;
    &__contTalles {
      font-size: 20px;
      padding-top: 10px;
    }
    th,
    td {
      padding: 10px;
    }
  }
}

/*PANTALLAS*/
@media (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 3;
    .nav-link {
      font-size: 20px;
      margin-left: 60px;
      .logo {
        height: 10rem;
      }
    }
    ul {
      li:hover {
        color: $color-grisC;
        font-weight: bold;
      }
    }
  }
  .h1h2 {
    font-size: 25px;
    padding: 30px;
  }

  .anuncios {
    font-size: 20px;
    padding: 30px;
    @include flexible(flex, row);
    justify-content: space-between;
    margin-top: 2px;
  }

  /*Portadas*/

  .contenedorPortadas {
    flex-direction: row;
    .contImg {
      a {
        img {
          width: 45rem;
          border-radius: 15px;
          margin: 15px;
        }
      }
    }
    .contTxt {
      a:hover {
        color: $color-grisC;
        font-weight: bold;
      }
    }
  }

  /*grilla*/

  .card {
    width: 30rem;
    .card-body {
      h5:hover {
        color: $color-grisC;
        font-weight: bold;
      }
    }
  }

  .mainCont {
    @include flexible(flex, row-reverse);
    align-items: center;
    justify-content: space-evenly;
    &__contacto {
      display: flex;
      padding-right: 28px;
    }
    &__fondoGris {
      background-image: linear-gradient(to bottom, #313131 0%, #222222 100%);
    }
    &__ul {
      @include flexible(flex, column);
      h3 {
        color: $color-grisC;
        text-align: center;
      }
      li {
        list-style-type: none;
        background-color: whitesmoke;
      }
      img {
        width: 2rem;
      }
    }
  }
  /*talles*/

  .divDescTalles {
    padding-bottom: 10px;
    p {
      font-size: 18px;
    }
  }
  /*breadcrumb*/
  .breadcrumb {
    top: 32%;
    left: 0;
  }


  .mainTalles {
    flex-direction: column-reverse;
    &__contTalles {
      font-size: 22px;
      h2 {
        margin-top: 8px;
      }
    }
    th,
    td {
      padding: 25px;
    }
  }

  .wapp {
    left: 95%;
  }
}

@media (min-width: 1293px) {

  .header {
    .nav-link {
      font-size: 25px;
      margin-left: 80px;
    }
  }
  .contenedorPortadas {
    .contImg {
      a {
        img {
          width: 35rem;
        }
      }
    }
  }

  

  /*talles*/
  .mainTalles {
    flex-direction: column-reverse;
    &__contTalles {
      font-size: 30px;
      margin-left: 30px;
      margin-right: 30px;
      h2 {
        margin-top: 10px;
      }
    }
    th,
    td {
      padding: 30px;
    }
  }

  .breadcrumbTalles {
    position: absolute;
    top: 50%;
    left: 0;
  }

  .container-Rq {
    .grilla {
      .card {
        margin: 15px;
        background-color: #3e3f3e;
        width: 22rem;
        position: static;
        .imgGrilla {
          margin-top: 15px;
          &:hover {
            @extend %transImgCorta;
          }
        }
        p{
          font-size: 20px;
        }
        h5{
          font-size: 20px;
        }
    
      }
    }
  }
}
