.breadcrumbTalles {
  margin-top: 5px;
}

.divDescTalles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  p {
    max-width: 800px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
}

.mainTalles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__talles {
    padding-bottom: 5%;
  }

  &__contTalles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 1rem;
  }

  thead {
    background-color: $color-grisO;
    border-bottom: solid 3px $color-blackC;
  }

  th,
  td {
    padding: 6.5px;
    text-align: center;
  }
}
