%elemCentrados{
    align-items: center;
    justify-content: center;
}
/*transformaciones*/

%transImgCorta{
    transform: scale(1.3);
    transition: 0.3s;
}


/*mixin*/
@mixin flexible( $display , $direction) {
display: $display;
flex-direction: $direction;
}
    




