/*
#0A100D BLACK CLARO
#B9BAA3 GRIS OSCURO
#D6D5C9 GRIS CLARO
*/

$color-blackC: #0A100D;
$color-grisC: #D6D5C9;
$color-grisO: #B9BAA3;

/*tipografias*/

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&display=swap');

$titulos: 'Roboto', sans-serif;


